.search{
    background-image: url('../public/assets/images/search.svg');
    background-size:2rem;
    background-repeat:no-repeat;
    background-position:left center;
    background-position-x: 0.2rem;
    padding-left:2.5rem;
    
}


.addbtn{
    background-image: url('../public/assets/images/addbtn.svg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center center;
}
